<div class="container">
  <div class="row py-5">
    <div class="col-12">
      <div class="row mb-5">
        <div class="col-12">
          <h3 class="text-secondary border-bottom pb-2 mb-4">Frecuently Asked Questions:</h3>
          <ngb-accordion [closeOthers]="true">
            <ngb-panel title="About the game">
              <ng-template ngbPanelContent>
                <p>
                  Minesweeper is a single-player puzzle video game. The objective of the game is to clear a rectangular board containing hidden "mines" or bombs without detonating any of them, with help from clues about the number of neighboring mines in each field.
                  <br>
                  The game originates from the 1960s, and it has been written for many computing platforms in use today. It has many variations and offshoots.
                </p>
              </ng-template>
            </ngb-panel>
            <ngb-panel title="¿How do I win?">
              <ng-template ngbPanelContent>
                <p>
                  To win the game, you must uncover all non-mined cells, at which point, the timer is stopped.
                </p>
              </ng-template>
            </ngb-panel>
            <ngb-panel title="¿How can I loose?">
              <ng-template ngbPanelContent>
                You loose when you uncover a mined cell.
              </ng-template>
            </ngb-panel>
            <ngb-panel title="¿Flags and Question marks?">
              <ng-template ngbPanelContent>
                You can place <i>Flags</i> <<fa-icon class="text-danger" [icon]="icons.faFlag"></fa-icon>> or <i>Question Marks</i> <<fa-icon class="text-warning" [icon]="icons.faQuestion"></fa-icon>> by right clicking a Cell.
                <br>
                Flags are useful for flagging suspicious cells that might contain a mine. On the other hand, question marks are useful for flagging cells you are not sure about their underlying content.
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>
      </div>
    </div>
  </div>
</div>
