<div class="modal-header">
  <h4 class="modal-title text-secondary">New game</h4>
  <button type="button" class="close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form.fg">
    <div class="form-group row mb-3">
      <label for="level" class="col-4 col-md-2 col-form-label">Level</label>
      <div class="col-7 col-md-5">
        <select class="form-control" id="level" formControlName="level">
          <option disabled>Select a level</option>
          <option *ngFor="let level of form.selectOptions.level" [ngValue]="level.value">{{level.name}}</option>
        </select>
      </div>
    </div>
    <div class="form-group row mb-3">
      <label for="level" class="col-5 col-md-2 col-form-label">Size</label>
      <div class="input-group col-7 col-md-6">
        <input type="text" class="form-control text-center" placeholder="X Cells" formControlName="xCells" [readOnly]="!isCustomLevel()">
        <div class="input-group-prepend input-group-append">
          <span class="input-group-text">x</span>
        </div>
        <input type="text" class="form-control text-center" placeholder="Y Cells" formControlName="yCells" [readOnly]="!isCustomLevel()">
        <div *ngIf="form.isSubmitted && (form.fg.controls.xCells.errors || form.fg.controls.yCells)" class="text-danger small">
          <div *ngIf="form.fg.controls.xCells.errors?.required">Please complete this field</div>
          <div *ngIf="form.fg.controls.yCells.errors?.min || form.fg.controls.yCells.errors?.max || form.fg.controls.xCells.errors?.min || form.fg.controls.xCells.errors?.max">
            Please enter a number between {{constants.ALLOWED_RANGE_CELLS[0]}} and {{constants.ALLOWED_RANGE_CELLS[1]}}
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row mb-3">
      <label for="level" class="col-5 col-md-2 col-form-label">Bombs </label>
      <div class="col-7 col-md-5">
        <input type="text" class="form-control text-center" placeholder="Number of bombs" formControlName="totalBombs" [readOnly]="!isCustomLevel()">
        <div *ngIf="form.isSubmitted && form.fg.controls.totalBombs.errors" class="text-danger small">
          <div *ngIf="form.fg.controls.totalBombs.errors?.required">Please complete this field</div>
          <div *ngIf="form.fg.controls.totalBombs.errors?.min || form.fg.controls.totalBombs.errors?.max">
            Please enter a number between {{constants.ALLOWED_RANGE_BOMBS[0]}} and {{constants.ALLOWED_RANGE_BOMBS[1]}}
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-success" (click)="submitForm()">Create game</button>
</div>
